# Virtual Environment
venv/
ENV/
env/
.venv/

# Python Cache and Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Downloads and media files
downloads/
backend/*.webm
backend/*.mp4
*.mp4
*.webm
*.part
*.mkv
*.avi
*.mp3
*.wav

# IDE / Editor folders and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.gemini/
scratch/
